<!-- New Arrivals -->

<div class="new_arrivals">
  <div class="container">
    <br><br><br>
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>Product Details</h2>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

          <!-- Product 1 -->

          <div class="product-item {{category}}">
             
            <div class="product discount product_filter">
              <div class="product_image">
                <img src="assets/productimages/{{picture}}" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
              <div class="product_info">
                <h6 class="product_name">{{name}}</h6>
                <div class="product_price">${{price}}<span>${{price+100}}</span></div>
              </div>
            </div>          
            <button class="red_button add_to_cart_button" (click)="addproduct()" >ADD TO CART</button>
           
          </div>
       <!--creating gap-->
         
        
          <!-- Product 2  <img src="assets/productimages/{{des}}" alt="" class="img-responsive" height="1000" width="800" >-->  

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col" >
        <p>&nbsp;</p>
<p><strong><u>SSR-C86H - 15" Touch screen Cash Register with Software $1460</u></strong></p>
<p style="margin-bottom: .0001pt; line-height: 16.8pt;"><strong><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #ff6600;">Description</span></strong></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">Plug and play</span></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">Advanced ARM core technology platform, Latest ARM-based shop till systems on the market, ARM-based systems do not require a hard drive so they are faster in operation and very reliable and stable.</span></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">It is based on the technology embedded firmware (without windows) so that it avoids any problem that emanates from blocking windows or from destruction of hard disk of computer from virus, crashes from fall of current computer, hacking or other causes. </span></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">It is absolutely friendly and easy in the user and enters straight in the menu of use.</span></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">Fully featured POS application software with Various interface. Embedded application software, powerful function but not complicated operate like smart phone or tablet PC.</span></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">Easy Operated Cashier can learn to use in one hour, don&rsquo;t worry about change cashier.</span></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">Competitive price, Low hardware cost</span></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">Compact all-in-one design, integrated with touch screen monitor, printer, customer display, cash drawer, Linux OS and application software. Touch friendly configuration screens to change hardware settings. </span></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">Small in size, big in feature. The compact design arm-pos offers a perfect combination of innovation, high performance and affordability. </span></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">Plus, a long product life time with lower cost of maintenance. (Free software upgrades). Low power consumption. Only 15W Power Consumption.</span></p>
<p><span style="font-size: 10.0pt; font-family: 'MS Gothic'; color: #7f7f7f;">．</span><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">Low repair rate. </span></p>
<p><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">&nbsp;</span></p>
<p><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #7f7f7f;">ALL IN ONE Touch Screen POS Cash Register Systems, ARM Based and Packaged with Software is an ideal Electronic Cash Register replacement and a cost-effective alternative to PC-based POS system and a powerful platform for: restaurant, retail, F&amp;B, convenience store, boutique, food palace, jewellery and accessory store, Beverage store, vehicle sales, Casual Dining, Family Style Restaurants, Smart Restaurants, Bar, Quick Service Restaurants, Sandwich, Bakery, Coffee, Tea, Milk, Taco, Hamburger, Ice Cream and Yogurt, Specialty Foods, Specialty Gourmet, small grocery, Mini Mart, open market, Deli&rsquo;s, small retail shop, Salon, Hardware stores and so on.</span><span style="font-size: 9.0pt; color: #7f7f7f;">&nbsp;</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p><strong>&nbsp;</strong></p>
        <p><strong>All prices are excluding GST (tax)</strong></p>
        <p><strong>GST of 10% added to all items &amp; freight</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Freight is free for NSW addresses which is a state (New South Wales)</strong></p>
        <p><strong>All orders of $0-$1499 is $10 to anywhere in Australia</strong></p>
        <p><strong>All orders over $1,500 is freight free to any state in Australia</strong></p>
        <p><strong>Delivery is only within Australia. No international orders/addresses</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>&nbsp;</strong></p>
       
        <p><strong> Bank Transfer - No Fees </strong></p>
        <p><strong> Credit Cards - VISA, MasterCard 2% &amp; AMEX 3% transaction Fee </strong></p>
      
        <p><strong>Paypal fees:</strong></p>
        <p><strong>Monthly sales&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Australian customers&nbsp;&nbsp;&nbsp;&nbsp; International customers or cards</strong></p>
        <p><strong>Up to $2,500&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.6% + $0.30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.6% + fixed fee</strong></p>
        <p><strong>$2,500.01 - $5,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.2% + $0.30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.2% + fixed fee</strong></p>
        <p><strong>$5,000.01 - $15,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.0% + $0.30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.0% + fixed fee</strong></p>
      </div>
    </div>
  </div>
</div>
