
<!-- New Arrivals -->

<div class="new_arrivals">
  <div class="container">
    <br><br><br>
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>Product Details</h2>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

          <!-- Product 1 -->

          <div class="product-item {{category}}">
             
            <div class="product discount product_filter">
              <div class="product_image">
                <img src="assets/productimages/{{picture}}" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
              <div class="product_info">
                <h6 class="product_name">{{name}}</h6>
                <div class="product_price">${{price}}<span>${{price+100}}</span></div>
              </div>
            </div>          
            <button class="red_button add_to_cart_button" (click)="addproduct()" >ADD TO CART</button>
           
          </div>
       <!--creating gap-->
         
        
          <!-- Product 2  <img src="assets/productimages/{{des}}" alt="" class="img-responsive" height="1000" width="800" >-->  

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col" >
        <p style="margin-bottom: .0001pt; line-height: normal; border: none; padding: 0cm;"><strong><span style="font-size: 18.0pt; font-family: 'Arial','sans-serif'; color: black;">VFD Customer Display</span></strong></p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; line-height: 16.8pt;"><span style="font-size: 13.5pt; font-family: 'Arial','sans-serif'; color: #ff6600;">VFD-890 (VFD Customer Display)</span></p>
        <p style="margin-bottom: .0001pt; line-height: 16.8pt;"><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #333333;">Glossy VFD Customer Display</span></p>
        <p style="margin-bottom: .0001pt; line-height: 16.8pt;"><strong><span style="font-size: 10.0pt; font-family: 'Times New Roman','serif'; color: #ff6600;">Description</span></strong></p>
        <p style="margin-bottom: 3.75pt; line-height: normal;"><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #666666;">As a leading manufacturer of Display, we provide first-rate Display, Customer Display, LCD Display, VFD Display, LDC Customer Display, and VFD Customer Display.<br /><br />- Stylish design&nbsp;<br />- Integrated for Zenis POS system&nbsp;<br />- Brightness: 700 cd/m2&nbsp;<br />- Character Size: 6.4 x 9.2(W x H), 5x7 dot matrix&nbsp;<br />- Number of Columns: 20 x 2&nbsp;<br />- ESC/POS command sets&nbsp;<br />- 96 alphanumeric &amp; 13 international characters support&nbsp;<br />- Telescopic Pole (103~172 mm)&nbsp;<br />- Angle of View: 53 degrees (vertical)/360 degree (horizontal)</span></p>
        <p style="margin-bottom: .0001pt; line-height: 19.2pt;"><span style="font-size: 11.5pt; font-family: 'Times New Roman','serif'; color: #ff6600;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; line-height: 19.2pt;"><span style="font-size: 11.5pt; font-family: 'Times New Roman','serif'; color: #ff6600;">&nbsp;Specification</span></p>
        <table style="width: 100.0%; border-collapse: collapse;" width="100%">
        <tbody>
        <tr>
        <td style="border: inset 1.0pt; background: #9ED9FF; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Model</span></strong></p>
        </td>
        <td style="border: inset 1.0pt; border-left: none; background: #9ED9FF; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">VFD-890</span></strong></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Display</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Vacuum Fluorescent Display</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Number of Columns</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">20 x 2</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Character Size (mm)</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">5.25 x 9.03 (WxH), 5 x 7 dot matrix</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Command Set</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">ESC/POS</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Font Character Support</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">96 Alphanumeric &amp; 13 international.</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Weight</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">700 g</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Colour</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">RED, Black, White</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Pole</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Telescopic Pole (103~172 mm)</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Tilting Angle</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">53 degrees, 4 step adjustable</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Compliance</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">CE, FCC</span></p>
        </td>
        </tr>
        </tbody>
        </table>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p><strong>&nbsp;</strong></p>
        <p><strong>All prices are excluding GST (tax)</strong></p>
        <p><strong>GST of 10% added to all items &amp; freight</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Freight is free for NSW addresses which is a state (New South Wales)</strong></p>
        <p><strong>All orders of $0-$1499 is $10 to anywhere in Australia</strong></p>
        <p><strong>All orders over $1,500 is freight free to any state in Australia</strong></p>
        <p><strong>Delivery is only within Australia. No international orders/addresses</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>&nbsp;</strong></p>
       
        <p><strong> Bank Transfer - No Fees </strong></p>
        <p><strong> Credit Cards - VISA, MasterCard 2% &amp; AMEX 3% transaction Fee </strong></p>
      
        <p><strong>Paypal fees:</strong></p>
        <p><strong>Monthly sales&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Australian customers&nbsp;&nbsp;&nbsp;&nbsp; International customers or cards</strong></p>
        <p><strong>Up to $2,500&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.6% + $0.30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.6% + fixed fee</strong></p>
        <p><strong>$2,500.01 - $5,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.2% + $0.30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.2% + fixed fee</strong></p>
        <p><strong>$5,000.01 - $15,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.0% + $0.30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.0% + fixed fee</strong></p>
      </div>
    </div>
  </div>
</div>
