<div class="container" style="padding-top:200px;">
    <div  class="about">
  <div class="spec ">
        <h3>About us</h3>
          <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
          </div>
      </div>
      
      
      <div class="col-md-12 about-left">
        <p>SSR Technologies founder have been supporting the Club industry for more than 16 years. SSR Technologies was formed to provide sales and technical services to users of point of sale systems and the computer applications that underpin these systems. With the use of Information Technology used in today&rsquo;s world, we are in a better position to cater our customer needs. We also design, install and support all windows based computer systems, including website design, remote access, online and offline backup and recovery. We have been helping customers Australia-wide to get their computers work for them, not against them.</p>
      </div>
      
      
      <div class="clearfix"> </div>
    </div>
  </div>
  <!--//about-->
  
  <!--work-experience-->
 
      
 
  <!--//work-experience-->
  <!--advantages--> 
  <!--advantages--> 
    
     