
<div class="contact" style="padding-top:200px;">
	<div class="container">
		<div class="spec ">
			<h3>Contact</h3>
				<div class="ser-t">
					
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
		</div>
		<div class=" contact-w3">	
			<div class="col-md-5 contact-right">	
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13272.480507760769!2d150.9843049!3d-33.7317097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb19d8b6a3e2d968c!2sSSR+Technologies+Aust+Pty+Ltd!5e0!3m2!1sen!2sin!4v1533914051614" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
			<div class="col-md-7 contact-left">
				<h4>Contact Information</h4>
				<flash-messages></flash-messages>
				<ul class="contact-list">
					<li> <i class="fa fa-map-marker" aria-hidden="true"></i> SSR Technologies Unit.113, 7 Hoyle Avenue Castle Hill NSW 2154 Australia </li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="support@ssrtech.com.au">Sales:support@ssrtech.com.au </a></li>
					<li> <i class="fa fa-phone" aria-hidden="true"></i>0434 331 746 </li>
				</ul>
				<div id="container">
					<!--Horizontal Tab-->
					<div id="parentHorizontalTab">
						<div class="resp-tabs-container hor_1">
							<div>
								<form clrFormm #contactform="ngForm" (submit)="contactDetails(contactform)">
									<input type="text" value="Name" name="Name" placeholder="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="" ngModel>
									<input type="email" value="Email" name="Email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="" ngModel>
									<textarea name="Message" onfocus="this.value = '';" placeholder="Message" onblur="if (this.value == '') {this.value = 'Message...';}" required="" ngModel>Message...</textarea>
									<input type="submit" value="Submit" >
								</form>
							</div>
						</div>
					</div>
				</div>
				