<!-- Slider -->

<div class="main_slider" style="background-image:url(assets/images/banner.jpg)">
  <div class="container fill_height">
    <div class="row align-items-center fill_height">
      <div class="col">
        <div class="main_slider_content">
          <h3 >Ligula Massa</h3>
          <h1>Suspendisse</h1>
          <div class="red_button shop_now_button"><a href="#">shop now</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner -->

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image:url(assets/images/e.jpg)">
          <div class="banner_category">
            <a  href="#">CashRegister</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image:url(assets/images/l.jpg)">
          <div class="banner_category">
            <a  href="#">accessories</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image:url(assets/images/c.jpg)">
          <div class="banner_category">
            <a  href="#">Printers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
