<app-header></app-header>

<div class="checkout" style="margin-top:200px;">
    <div class="container">
      <h3 class="animated wow slideInLeft" data-wow-delay=".5s">Your shopping cart contains: <span>3 Products</span></h3>
      <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
        <table class="timetable_sub table">
          <thead>
            <tr>
              <th>SL No.</th>	
              <th>Product</th>
              <th>Quality</th>
              <th>Product Name</th>
              <th>Service Charges</th>
              <th>Price</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tr class="rem1" valign="middle">
            <td class="invert">1</td>
            <td class="invert-image"><a href="single.html"><img src="/assets/images/22.jpg" alt=" " class="img-responsive" /></a></td>
            <td class="invert">
               <div class="quantity"> 
                <div class="quantity-select">                           
                  <div class="entry value-minus" (click)="decrement($event)">&nbsp;</div>
                  <div class="entry value"><span>{{quantity }}</span></div>
                  <div class="entry value-plus active" (click)="increment($event)">&nbsp;</div>
                </div>
              </div>
            </td>
            <td class="invert" >Black Shoe</td>
            <td class="invert">$5.00</td>
            <td class="invert">$290.00</td>
            <td class="invert">
              <div class="rem">
                <div class="close1"> </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="checkout-left">	
        <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
          <h4>Continue to basket</h4>
          <ul>
            <li>Product1 <i>-</i> <span>$250.00 </span></li>
            <li>Product2 <i>-</i> <span>$290.00 </span></li>
            <li>Product3 <i>-</i> <span>$299.00 </span></li>
            <li>Total Service Charges <i>-</i> <span>$15.00</span></li>
            <li>Total <i>-</i> <span>$854.00</span></li>
          </ul>
        </div>
        <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
          <a href="single.html"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <hr>
      <div class="row">
      <div class="col-3"></div>
       <div class="col-6">
           <br>
        
        <fieldset>
            <legend><b>Enter Details:</b></legend>
          
        <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Name:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email:</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Phone Number:</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      
      
        <div class="form-group">
          <label for="exampleTextarea">Address:</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-default" (click)="myMethod($event)">Submit</button>
  </form>
  </fieldset>
  </div>
  <div class="col-3"></div>
     
  </div>
  </div>
  </div>