<app-header></app-header>

<div class="checkout" style="margin-top:200px;" *ngIf="carts?.length>0;else other_content">
 
  <div class="container">
      <h3 class="animated wow slideInLeft" data-wow-delay=".5s">Your shopping cart</h3>
      <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
        <table class="timetable_sub table">
          <thead>
            <tr>
              <th>SL No.</th>	
              <th>Product</th>
              <th>Quantity</th>
              <th>Product Name</th>
               <th>Price</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tr class="rem1" valign="middle" *ngFor="let cart of carts;let i=index">
              <td class="invert">{{i}}</td>
              <td class="invert-image"><a href="#"><img src="assets/productimages/{{cart?.product.picture}}" alt=" " class="img-responsive" /></a></td>
              <td class="invert">
                 <div class="quantity"> 
                  <div class="quantity-select">                           
                   
                    <div class="entry value"><span>{{cart?.quantity}}</span></div>
                   
                  </div>
                </div>
              </td>
              <td class="invert" >{{cart?.product.name}}</td>
             
              <td class="invert">${{cart?.product.price}}</td>
              <td class="invert">
                <div class="rem">
                  <div class="close1"><button class="ui orange basic button" (click)="removeproduct(cart?.product)">Remove</button></div>
                </div>
              </td>
            </tr>
        </table>
      </div>
      <div class="checkout-left">	
        <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
        <a  class="glyphicon glyphicon-menu-left" aria-hidden="true" href="/">Continue Shopping</a>
        
        <div class="clearfix"> </div>
      </div>
      <hr>
      <div class="row">
       <div class="col-3">
           <br>
        
        <fieldset>
            <legend id="txt"><b>Enter Details:</b></legend>
          <br>  
        <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Name:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email:</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Phone Number:</label>
          <input type="text" class="form-control" id="exameInputPassword1" placeholder="Phone No">
        </div>
      
      
        <div class="form-group">
          <label for="exampleTextarea">Address:</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-button">
          <button type="button" class="ui orange basic button" (click)="myMethod($event)">Cash On Delivery</button>
        </div>
        
  </form>
  </fieldset>
  </div>
  <div class="col-3"></div>
     
  </div>
  </div>
  </div>
  
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  
  
 

  </div>
  <ng-template #other_content>
      <div class="container" style="margin-top:250px;">
  
  <h4>Your Cart Is Empty </h4>
  <a href="/" class="ui orange basic button">Browse Products</a>
  
  
    </div>
  
  </ng-template>