



<div  class="checkout" style="margin-top:200px;" *ngIf="carts?.length>0;else other_content">
   
 
  <div class="container">
      <h3 class="animated wow slideInLeft" data-wow-delay=".5s">Your shopping cart</h3>
      <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
        <table class="timetable_sub table">
          <thead>
            <tr>
              <th>SL No.</th>	
              <th>Product</th>
              <th>Quantity</th>
              <th>Product Name</th>
               <th>Price</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tr class="rem1" valign="middle" *ngFor="let cart of carts;let i=index">
              <td class="invert">{{i}}</td>
              <td class="invert-image"><a href="#"><img src="assets/productimages/{{cart?.product.picture}}" alt=" " class="img-responsive" /></a></td>
              <td class="invert">
                 <div class="quantity"> 
                  <div class="quantity-select">                           
                   
                    <div class="entry value"><span>{{cart?.quantity}}</span></div>
                   
                  </div>
                </div>
              </td>
              <td class="invert" >{{cart?.product.name}}</td>
             
              <td class="invert">${{cart?.product.price}}</td>
              <td class="invert">
                <div class="rem">
                  <div class="close1"><button class="ui orange basic button" (click)="removeproduct(cart?.product)">Remove</button></div>
                </div>
              </td>
            </tr>
        </table>
      </div>
      <div class="checkout-left">	
        <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
          <h3>Total Price:{{cartvalue}}</h3>
        <a  class="ui orange basic button" href="/">Continue Shopping</a>
        <div class="clearfix"> </div>
      </div>
      <hr>
      
      <div class="row" id="row" style=" margin-top:100px;  ">
      
        <div class="col-sm-8">
           <br>
        
        <fieldset>
            <legend id="txt"><b>Enter Details:</b></legend> 
          <br>  
         
        <form  #userform = "ngForm" (submit)="usersubmit(userform)">
        <div class="form-group">
          <label for="exampleInputEmail1">Name:</label>
          <input required type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ngModel>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email:</label>
          <input  required type="email" class="form-control" id="exampleInputPassword1" name="email" placeholder="Email" ngModel>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Phone Number:</label>
          <input  required type="text" class="form-control" id="exameInputPassword1" name="phone" placeholder="Phone No" ngModel>
        </div>
      
      
        <div class="form-group">
          <label for="exampleTextarea">Address:</label>
          <textarea  required class="form-control" id="exampleTextarea" rows="3" name="address" ngModel></textarea>
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Comment:</label>
          <textarea  required class="form-control" id="exampleTextarea" rows="6" name="comment" ngModel></textarea>
        </div>
       
        <div class="form-group">
            
            <input  required type="radio" name="gender" value="COD" ngModel > COD<br>
  <input   required type="radio" name="gender" value="Paypal" ngModel>Paypal<br>
          </div>
         

         <input type="submit" name="submit" class="ui orange basic button btn-block" value="Proceed To Payment">
          
  
        
  </form>
  </fieldset>
  </div>
  <div  class="col-sm-4" >
      <flash-messages></flash-messages>

  </div>
     
  </div>
  </div>
  </div>
  
    
  
  
  

  </div>
  <ng-template #other_content>
      <div class="container" style="margin-top:250px;">
  
  <h4>Your Cart Is Empty </h4>
  <a href="/" class="ui orange basic button">Browse Products</a>
  
  
    </div>
  
  </ng-template>


