<!-- New Arrivals -->

<div class="new_arrivals">
  <div class="container">
    <br><br><br>
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>Product Details</h2>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

          <!-- Product 1 -->

          <div class="product-item {{category}}">
             
            <div class="product discount product_filter">
              <div class="product_image">
                <img src="assets/productimages/{{picture}}" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
              <div class="product_info">
                <h6 class="product_name">{{name}}</h6>
                <div class="product_price">${{price}}<span>${{price+100}}</span></div>
              </div>
            </div>          
            <button class="red_button add_to_cart_button" (click)="addproduct()" >ADD TO CART</button>
           
          </div>
       <!--creating gap-->
         
        
          <!-- Product 2  <img src="assets/productimages/{{des}}" alt="" class="img-responsive" height="1000" width="800" >-->  

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col" >
        <p style="margin-bottom: .0001pt; line-height: normal; border: none; padding: 0cm;"><strong><span style="font-size: 18.0pt; font-family: 'Arial','sans-serif'; color: black;">Omni Directional Scanner</span></strong></p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; line-height: 16.8pt;"><span style="font-size: 13.5pt; font-family: 'Arial','sans-serif'; color: #ff6600;">Omni-352 (Omni Directional Scanner)</span></p>
        <p style="margin-bottom: .0001pt; line-height: 16.8pt;"><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #333333;">Powerful Omni Directional Scanner</span></p>
        <p style="margin-bottom: .0001pt; line-height: 16.8pt;"><strong><span style="font-size: 10.0pt; font-family: 'Times New Roman','serif'; color: #ff6600;">Description</span></strong></p>
        <p style="margin-bottom: 3.75pt; line-height: normal;"><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif'; color: #666666;">We have rich experience in manufacturing Speed Print, Speed Printer, Speed Printing, Data Terminal, BT Scanner, Bluetooth Scanner, Directional Scanner, and Barcode Scanner.<br /><br />- Solid Structure&nbsp;<br />- Sensitive automatic sensor&nbsp;<br />- Outstanding performance&nbsp;<br />- 650nm visible laser diode&nbsp;<br />- Depth of Field : 25~280mm&nbsp;<br />- Scan rate : 1650 lines/sec.&nbsp;<br />- Interface : RS-232, PS2, USB</span></p>
        <p style="margin-bottom: .0001pt; line-height: 19.2pt;"><span style="font-size: 11.5pt; font-family: 'Times New Roman','serif'; color: #ff6600;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; line-height: 19.2pt;"><span style="font-size: 11.5pt; font-family: 'Times New Roman','serif'; color: #ff6600;">&nbsp;Specification</span></p>
        <table style="width: 100.0%; border-collapse: collapse;" width="100%">
        <tbody>
        <tr>
        <td style="border: inset 1.0pt; background: #9ED9FF; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Model</span></strong></p>
        </td>
        <td style="border: inset 1.0pt; border-left: none; background: #9ED9FF; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Omni-352</span></strong></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;" rowspan="2">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Scan Rate</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">1650 scans lines/sec (Omni-Mode)</span></p>
        </td>
        </tr>
        <tr>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">80 scan lines/sec (Single-Line mode)</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Sensor</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Laser Diode</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Wavelength</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">650nm&plusmn;10nm</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Minimum Barcode Width</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">0.127mm (5 mil)</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Depth of Field</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">25mm~280mm</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Contrast Ratio</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">35%</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Scan Patten</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Dual Mode<br />(Omni-directional reading / Single Scan line Mode)</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Interface</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Keyboard Wedge / RS-232 / USB</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Readable Bar Code Symbologies</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">UPC/EAN, Code 128, Code 93, Codabar,<br />Interleaved 2 of 5, Code 11, Code 39,<br />MSI/Plessey, RSS-14</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Power Input</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">5VDC &plusmn; 25%</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Laser Class</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">IEC 60825-1, EN 60825-1</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Compliance</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">CE, FCC</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Shock Resistance</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">1m onto concrete</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">&nbsp;Weight</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">140 g (without cable)&nbsp;</span></p>
        </td>
        </tr>
        <tr>
        <td style="border: inset 1.0pt; border-top: none; padding: 0cm 0cm 0cm 7.5pt;">
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">Dimension (W x H x L :mm)</span></p>
        </td>
        <td style="border-top: none; border-left: none; border-bottom: inset 1.0pt; border-right: inset 1.0pt; padding: 0cm 0cm 0cm 0cm;">
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Times New Roman','serif';">79 x 105 x 63.5</span></p>
        </td>
        </tr>
        </tbody>
        </table>
        <p>&nbsp;</p>  
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p><strong>&nbsp;</strong></p>
        <p><strong>All prices are excluding GST (tax)</strong></p>
        <p><strong>GST of 10% added to all items &amp; freight</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Freight is free for NSW addresses which is a state (New South Wales)</strong></p>
        <p><strong>All orders of $0-$1499 is $10 to anywhere in Australia</strong></p>
        <p><strong>All orders over $1,500 is freight free to any state in Australia</strong></p>
        <p><strong>Delivery is only within Australia. No international orders/addresses</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>&nbsp;</strong></p>
       
        <p><strong> Bank Transfer - No Fees </strong></p>
        <p><strong> Credit Cards - VISA, MasterCard 2% &amp; AMEX 3% transaction Fee </strong></p>
      
        <p><strong>Paypal fees:</strong></p>
        <p><strong>Monthly sales&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Australian customers&nbsp;&nbsp;&nbsp;&nbsp; International customers or cards</strong></p>
        <p><strong>Up to $2,500&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.6% + $0.30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.6% + fixed fee</strong></p>
        <p><strong>$2,500.01 - $5,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.2% + $0.30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.2% + fixed fee</strong></p>
        <p><strong>$5,000.01 - $15,000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.0% + $0.30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.0% + fixed fee</strong></p>
      </div>
    </div>
  </div>
</div>
