<br><br><br><br>
<div class="new_arrivals">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>SHOP <i class="fa fa-shopping-cart" aria-hidden="true"></i></h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="new_arrivals_sorting">
          <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter=".screentills">touchscreentills</li>
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".cashregister">touchscreencashregister</li>
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".printers">receiptprinters</li>
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".kitchenprinter">kitchenprinters</li>
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".cashdrawers">cashdrawers</li>
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".barcodescanner">barcodescanners</li>
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">accessories</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }' >

          <!-- Product 1 -->

          <div class="product-item {{product.category}}" *ngFor="let product of products">
             
            <div class="product discount product_filter">
              <div class="product_image">
                <img src="assets/productimages/{{product.picture}}" alt="">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
              <div class="product_info">
                <h6 class="product_name"><a href="single.html">{{product.name}}</a></h6>
                <div class="product_price">${{product.price}}<span>${{product.price+100}}</span></div>
              </div>
            </div>
            <button class="red_button add_to_cart_button" (click)="addproduct(product)" >ADD TO CART</button>
           
          </div>

          <!-- Product 2 -->

        </div>
      </div>
    </div>
  </div>
</div>
