<div class="container" style="padding-top:200px;">
<div class="blog-content">
	<div class="row blog-wrap">
					<div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-6">
		 		
								<h1><a href="https://coloredcow.com/a-laravel-package-for-a-consistent-workflow/">A laravel package for a consistent workflow</a></h1>
					<h4><b>By Pankaj Agarwal</b></h4>
					<p>July 26, 2018</p>
					<hr>
					<div class="blog-content">
						<p>ColoredCow has been working on Laravel for the past 3 years. In this time period, we have learned a great deal about coding from the way the framework 
              is architected. We have also vastly grown in terms of processes around development following some of the practices that are built into&#8230;
</p>
					</div>
          <hr>
          	
								<h1><a href="https://coloredcow.com/a-laravel-package-for-a-consistent-workflow/">A laravel package for a consistent workflow</a></h1>
                <h4><b>By Pankaj Agarwal</b></h4>
                <p>July 26, 2018</p>
                <hr>
                <div class="blog-content">
                  <p>ColoredCow has been working on Laravel for the past 3 years. In this time period, we have learned a great deal about coding from the way the framework 
                    is architected. We have also vastly grown in terms of processes around development following some of the practices that are built into&#8230;
      </p>
                </div>
                <hr>
          	
								<h1><a href="https://coloredcow.com/a-laravel-package-for-a-consistent-workflow/">A laravel package for a consistent workflow</a></h1>
                <h4><b>By Pankaj Agarwal</b></h4>
                <p>July 26, 2018</p>
                <hr>
                <div class="blog-content">
                  <p>ColoredCow has been working on Laravel for the past 3 years. In this time period, we have learned a great deal about coding from the way the framework 
                    is architected. We have also vastly grown in terms of processes around development following some of the practices that are built into&#8230;
      </p>
                </div>
                <hr>
          	
								<h1><a href="https://coloredcow.com/a-laravel-package-for-a-consistent-workflow/">A laravel package for a consistent workflow</a></h1>
                <h4><b>By Pankaj Agarwal</b></h4>
                <p>July 26, 2018</p>
                <hr>
                <div class="blog-content">
                  <p>ColoredCow has been working on Laravel for the past 3 years. In this time period, we have learned a great deal about coding from the way the framework 
                    is architected. We have also vastly grown in terms of processes around development following some of the practices that are built into&#8230;
      </p>
                </div>
                <hr>
          	
								<h1><a href="https://coloredcow.com/a-laravel-package-for-a-consistent-workflow/">A laravel package for a consistent workflow</a></h1>
                <h4><b>By Pankaj Agarwal</b></h4>
                <p>July 26, 2018</p>
                <hr>
                <div class="blog-content">
                  <p>ColoredCow has been working on Laravel for the past 3 years. In this time period, we have learned a great deal about coding from the way the framework 
                    is architected. We have also vastly grown in terms of processes around development following some of the practices that are built into&#8230;
      </p>
                </div>
      
						</div>
				<div class="col-xs-12 col-md-3 col-lg-5 talks-widget">
				
			<div class="talks-widget-container">
				<div class="header-text">Talks</div>
				<div class="talks-title">An effortless way to make businesses efficient</div>
				<div class="talks-author-image" style="background-image: url( https://coloredcow.com/wp-content/uploads/2018/06/IMG_20180613_103411-min-300x300.jpg );"></div>
				<div class="talks-author-name">By Prateek Narang</div>
									<div class="talks-subtitle">A talk on enhancing the efficiency of businesses with a better handle on it through data and tools already being used</div>
								<a href="https://coloredcow.com/talks/business/an-effortless-way-to-make-your-business-efficient/#blog"><div class="read-more-talks">Know more to request this talk</div></a>
			</div>
					</div>
			</div>
</div>
</div>