<div class="container" style="padding-top:200px;">
  <div  class="about">
<div class="spec ">
      <h3>Refunds & Privacy Policy</h3>
        <div class="ser-t">
          <b></b>
          <span><i></i></span>
          <b class="line"></b>
        </div>
    </div>
    
    
    <div class="col-md-12 about-left">
      <p>Any excess amount paid through payment gateway to VITSPL , otherwise or in lieu of cancellation (after deducting cancellation charges) will be refunded through cheque. </p>
    </div>
    
    
    <div class="clearfix"> </div>
  </div>
</div>
<!--//about-->

<!--work-experience-->
<div  class="work">
  <div class="container">
    <div class="spec spec-w3ls">
      <h3>Privacy Policy:</h3>
        <div class="ser-t">
          <b></b>
          <span><i></i></span>
          <b class="line"></b>
        </div>
    </div>
    <div class="work-info"> 
      <div class="col-md-12 work-left"> 
        <div class=" work-w3 "> 
     
          <p>VITSPL is dedicated to keeping your details private. Any information we collect in relation to you is kept strictly secured. We do not pass on, sell or swap any of your personal details with anyone, except where this forms an integral part of the designated project. We use this information to identify your orders, and provide you with the relevant resources. 

            Whenever you use our web site, or any other web site, the computer on which the web pages are stored (the Web server) needs to know the network address of your computer so that it can send the requested web pages to your Internet browser. The unique network address of your computer is called its “IP address,” and is sent automatically each time you access any Internet site. From a computer’s IP address, it is possible to determine the general geographic location of that computer but otherwise it is anonymous. </p>
        </div>
        <label></label>
      </div>
      <div class="col-md-12 work-right"> 
        <div class=" work-w31"> 
          <h3>Security Policy:</h3>
          <p>When purchasing from VITSPL, your financial details are passed through a secure server using the latest 128-bit SSL (secure sockets layer) encryption technology.128-bit SSL encryption is the current industry standard. If you have any questions regarding our security policy, please contact us at below address.</p>
        </div>
        <label></label>
      </div>
      
    </div>
    
 
  </div>
</div>
<!--//work-experience-->
<!--advantages--> 
<!--advantages--> 